.tabelaTagsRelacoes {
    width: 60%;
    margin-top: 15%;
    margin-left: 23%;
    margin-bottom: 2%;
}

.tabelaTagsRelacoesTitle {
    margin-top: 15%;
    margin-bottom: 5%;
}

.rodapeTagsFromRelacoes{
    text-align: center;
    position:absolute;
    bottom:0;
    width:132%;
}

.tagsFromRelacoesUserNoAccount{
    width:100%;
    background-image: url('../jon-tyson-5KKglNl852A-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container2{
    display:flex;
    flex-direction: row ;
}